.main__footer {
    background-color: $dark;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 20px;

    &__header {
        img {
            width: 90px;
        }

        margin: 5px 0;

        span {
            display: none;
        }
    }

    a {
        color: $white;
        font-size: 0.8em;
    }

    .icone {
        width: 20px;
        padding-right: 5px;
    }


}