.main__header {
    padding-top: 20px;
    padding-bottom: 10px;
   

    &__title {
        justify-content: center;
        a{
            float: left;
        }
        span {
            display: none;
            font-size: 2em;
        }

        .logo {
            width: 60%;
        }
    }
}
