.main__header {
    padding-top: 20px;
    padding-bottom: 10px;
   

    &__title {
        
        justify-content: center;
        a{
            margin: auto 0;
            margin-right: 40px;
           
        }
        span {
            display: none;
            font-size: 2em;
            margin-right: 40px;
        }

        .logo {
            width: 60%;
            margin-right: 40px;
        }
    }
}
