.card-restaurant {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 20px -10px $gray;

    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &-text {
        margin: auto 0;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        div {
            align-self: center;
            font-size: 16px;
            line-height: 1.3;
            strong {
                font-weight: bold;
            }
        }
        div.icone {
            i {
                --fa-primary-color: #ffffff;
            }
        }
    }
}

@media (min-width: 1200px) {

.card-restaurant{
    width: calc(45% - 10px);
    height: 50%;

    &-text{
     
        line-height: 1.2;
      
    }
   
}
}