
    .heart{
        width: 25px;
        height: 25px;
        fill: url(#gradiant); 
        fill-opacity: 0;
        stroke-width: 20px;
        stroke: #000;
        position:relative;  
        overflow:hidden;
        
        &:hover{
            
          animation: gradient-heart 0.3s ease forwards;
          
            }
    }

    @keyframes gradient-heart {
        to{
            fill-opacity: 1;
        }

    }

