@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand.ttf");
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}