.main__footer {
    background-color: $dark;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 20px;

    &__header {
        svg {
            width: 120px; 
            height: 34px;
            path{
                fill: #fff;
            }
        }

        margin: 5px 0;

        span {
            display: none;
        }
    }

    a {
        color: $white;
        font-size: 0.8em;
    }

    .icone {
        width: 20px;
        padding-right: 5px;
    }


}
@media (min-width: 500px){
    .main__footer{
        &__header{
            svg{
                width: 220px;
                height: 48px;
            }
        }

        &__nav{
            .nav-list{
                display: flex;
                gap: 20px;
                font-size: 20px;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .main__footer{
        &__header{
            svg{
                width: 240px;
                height: 68px;
            }
        }

        &__nav{
            .nav-list{
                display: flex;
                gap: 20px;
                font-size: 24px;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}