.main-header {
    padding-top: 20px;
    padding-bottom: 10px;
  
    a{
           margin-left: -30px;
           
        }

    &__title {
     
        justify-content: center;
       align-items: center;
        gap: 10px;
        span {
            display: none;
            font-size: 2em;
            margin-right: 40px;
        }

        .logo {
            width: 160px;
            
        }
    }
}
@media (min-width: 500px){
  .main-header{

    &__title{
      .logo{
        width: 260px;
      }
    }
  }
}


@media (min-width: 1200px) {
    .main-header {
        padding-top: 20px;
        padding-bottom: 10px;
      
        a{
            font-size: 1.6em;
            margin-left: -50px;
        }
    
        &__title {
         gap: 20px;
            justify-content: center;
           
            span {
                display: none;
                font-size: 2em;
                margin-right: 40px;
            }
    
            .logo {
                width: 360px;
                
            }
        }
    }
}
