.main-header {
    padding-top: 20px;
    padding-bottom: 10px;
  
    a{
           position: absolute;
           top: 5%;
        left: 15%;
           
        }

    &__title {
     
        justify-content: center;
       
        span {
            display: none;
            font-size: 2em;
            margin-right: 40px;
        }

        .logo {
            width: 160px;
            
        }
    }
}


@media (min-width: 1200px) {
    .main-header {
        padding-top: 20px;
        padding-bottom: 10px;
      
        a{
            font-size: 1.4em;
            top: 8%;
            left: 34%;
        }
    
        &__title {
         
            justify-content: center;
           
            span {
                display: none;
                font-size: 2em;
                margin-right: 40px;
            }
    
            .logo {
                width: 360px;
                
            }
        }
    }
}
